.category{
    width: 100%;
    height: 40px;
    background: #f0f0f0;
  }
  .electronics{
    align-items: flex-end;
    display: flex;
    cursor: pointer;
    color: black;
    cursor: pointer;
}

.card{
  columns: 100px 2;
}
.mobiles{
  margin-top: 10px;
}